.app {
    font-family: sans-serif;
    text-align: center;
}

.searchbar {
    width: 500px;
    padding: 5px;
}

.result-container {
    width: 500px;
    margin: auto;
    border: 1px solid #000;
    padding: 5px;
    text-align: left;
    max-height: 500px;
    overflow-y: scroll;
}

.result {
    display: block;
    padding: 3px;
}

.result:hover {
    background-color: beige;
    cursor: pointer;
}